In [1]:
import pandas as pd
import math as m
import scipy.stats as stats

In [3]:
df = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [6]:
df.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [9]:
W1 = list(df[df['Power ']=='160 W']['Etching Rate']) # 160 W
W2 = list(df[df['Power ']=='180 W']['Etching Rate']) # 180 W
W3 = list(df[df['Power ']=='200 W']['Etching Rate']) # 200 W

print(W1)
print(W2)
print(W3)

[5.43, 5.71, 6.22, 6.01, 5.59]
[6.24, 6.71, 5.98, 5.66, 6.6]
[8.79, 9.2, 7.9, 8.15, 7.55]

In [ ]:
# Step 1: Set the Null and Alternate Hypothesis

    # H0: Changing the power of the plasma beam does not have an effect on etching rate (all the means are equal)
    # H1: Changing the power of the plasma beam have an effect on etching rate (mean in at least two groups is different)
    
# Step 2: Level of Significance
    
    # The hypothesis test will be conducted by using a 0.05 significance level.

# Step 3: Check the assumptions to apply the ANOVA test

    # Samples are independent
    # Samples are normally distributed in the 3 groups (shapiro test)
    
# Step 4: Apply ANOVA 
    # Apply stats f_oneway to return F and p values

# Step 5: Evaluate the results
    # Check if the results to reject or not the null hypothesis and write the conclusions

In [10]:
# Check normality 160 W

test_stat_normality, p_value_normality = stats.shapiro(W1)
print("p value:%.4f" % p_value_normality)
if p_value_normality <0.05:
    print("The data is not normally distributed")
else:
    print("The data is normally distributed")

p value:0.7997
The data is normally distributed

In [11]:
# Check normality 180 W

test_stat_normality, p_value_normality = stats.shapiro(W2)
print("p value:%.4f" % p_value_normality)
if p_value_normality <0.05:
    print("The data is not normally distributed")
else:
    print("The data is normally distributed")

p value:0.7516
The data is normally distributed

In [12]:
# Check normality 200 W

test_stat_normality, p_value_normality = stats.shapiro(W3)
print("p value:%.4f" % p_value_normality)
if p_value_normality <0.05:
    print("The data is not normally distributed")
else:
    print("The data is normally distributed")

p value:0.8010
The data is normally distributed

In [26]:
F_critical, p_value = stats.f_oneway(W1,W2,W3)
print("p value", p_value)
print("f value", F_critical)
if p_value < 0.05:
    print("Reject H0: there is a difference in the means of at least two groups")
else:
    print("Accept H0: the means are the same")

p value 7.506584272358903e-06
f value 36.87895470100505
Reject H0: there is a difference in the means of at least two groups

In [ ]:
# With a significance level of 0.05, we can conclude that Alternative Hypothesis is true: 
    # Changing the power of the plasma beam have an effect on etching rate (mean in at least two groups is different

In [ ]:
# Below just doing the same with pandas DataFrame

In [16]:
df1 = pd.DataFrame()

In [17]:
df1['160W'] = W1

In [19]:
df1['180W'] = W2

In [20]:
df1['200W'] = W3

In [21]:
df1

   160W  180W  200W
0  5.43  6.24  8.79
1  5.71  6.71  9.20
2  6.22  5.98  7.90
3  6.01  5.66  8.15
4  5.59  6.60  7.55

In [27]:
F_critical, p_value = stats.f_oneway(df1['160W'],df1['180W'],df1['200W'])
print("p value", p_value)
print("f value", F_critical)
if p_value < 0.05:
    print("Reject H0: there is a difference in the means of at least two groups")
else:
    print("Accept H0: the means are the same")

p value 7.506584272358903e-06
f value 36.87895470100505
Reject H0: there is a difference in the means of at least two groups